RewriteEngine On

# dynamically setup base URI
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE_URI:%1]

# redirect every request to index.php
# and give the relative URL in "_url" GET param
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# rediriger TOUTES les requêtes qui mène au dossier dans lequel se trouve le .htaccess vers index.php
# appeler /products => index.php?_url=/products
RewriteRule ^(.*)$ index.php [QSA,L]